/* Input Component Styles */

.member-list-component {
  background: #dddddd;
  font-size: 14px;

  .banner {
    width: 100%;
    height: 280px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  .topinfo-layout {

    .layout1 {
      display: flex;
      align-items: center;
      padding: 5px;
      background: #cccccc;

      >.input {
        width: 100%;
      }
    }

    .layout2 {
      display: flex;
      align-items: center;
      padding: 5px;

      .info-layout {
        width: 100%;

        .info-txt {
          display: inline-block;
          color: black;
        }
      }
    }

    .button {
      width: 100px;
      height: 40px;
      border: 1px solid white;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0);
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }

  .member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background: white;
  }

}
